* {
   box-sizing: border-box; 
}

body{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: #afb3b3;

}

.container {
    width: 300px;
    padding: 20px;
    background-color: #fff;
    border-radius: 4px;
    box-shadow: 0 2px 4px rgb(0, 0, 0, 0.1);
}



#loginContainer h1{
    text-align: center;
    margin-bottom: 20px;
}

#loginContainer label{
    display: block;
    margin-bottom: 5px;
}


#loginContainer input{
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 6px;
}


#loginContainer button {
    width: 100%;
    padding: 10px;
    background-color: #2c1dca;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;

}

#loginContainer #button:houver{
    background-color: #2309b2;
}

